{:name "ui-highcharts"
 ;build 
 :lazy true
 :cljs-namespace [ui.highcharts]
 :cljs-ns-bindings {'ui.highcharts {'highchart ui.highcharts.core/highchart
                                    'highstock ui.highcharts.core/highstock}}
 ; theme
 :theme {:available  {:highcharts {true ["highcharts/css/highcharts.css"
                                         "highcharts/css/stocktools/gui.css"
                                         "highcharts/css/annotations/popup.css"]
                                   "dark-unica" ["highcharts/css/themes/dark-unica.css"]
                                   "grid-light" ["highcharts/css/themes/grid-light.css"]
                                   "sand-signika" ["highcharts/css/themes/sand-signika.css"]}}
         :current {:highcharts true}}}